<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <LINK REL=StyleSheet HREF="/login.css" TYPE="text/css" MEDIA=screen>
    <title>Ingreso usuario</title>
</head>

<body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Proyecto<span>Final</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="usuario" name="user"><br>
        <input type="password" placeholder="contraseña" name="password"><br>
        <input type="button" value="Ingresar">
        <br />
        <a href="wwww.gooogle.com">¿Olvido su contraseña?</a>
        <br />
        <a href="Registrousuario.html">Desea crear una cuenta</a>
    </div>



</body>

</html>