<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <LINK REL=StyleSheet HREF="/login.css" TYPE="text/css" MEDIA=screen>
    <title>Registro usuario</title>
</head>

<body>

    <div class="body"></div>
    <div class="grad"></<div>Registro<span>Usuario</span></div>div>
    <div class="header">
        
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="Nombres" name="nombres"><br><br>
        <input type="text" placeholder="Apellidos" name="apellidos"><br><br>
        <input type="text" placeholder="Fecha Nacimiento" name="nacimiento"><br><br>
        <input type="text" placeholder="Nacionalidad" name="nacionalidad"><br><br>
        <input type="text" placeholder="NickName" name="nickname"><br><br>
        <input type="text" placeholder="contraseña" name="password"><br><br>
        <input type="button" value="Guardar">
        <br />
        <a href="Login.html">Regresar</a>
    </div>



</body>

</html>